.description {
  margin-top: 25px;
}
.booking-box {
  margin: 20px;
  padding: 20px;
  border: 2px solid #E5E5E5;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 20px !important;
}
.box-price {
  font-size: 30px;
}
.fa-spacing {
  margin: 5px;
}

.btn-success {
  width: 100%;
  border-color: transparent;
  :hover{
    background-color: #7ea5ad;
  }
}
#map {
  height: 300px;
}
h2{
  margin-left: 0px;
}
.show-header {
  display: flex;
  .title-and-capacity {
    flex: 1 1 auto;
  }
  .profile-image {
    width: 100px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.show-container {
  display: flex;
}

