.description {
  margin-top: 25px;

}

.booking-box {
  margin: 20px;
  padding: 20px;
  border: 2px solid #E5E5E5;
}
.box-price {
  font-size: 30px;
}
.fa-spacing {
  margin: 5px;
}

.btn-success {
  width: 100%;
  border-color: transparent;
  :hover{
    background-color: #7ea5ad;
  }
}

 h2{
  margin-left: 0px;
 }


