<div class="banner">
  <div class="banner-content">
    <div class="message">
      <div class ="ligne">
        <h1> Rent a boat </h1>
      </div>
      <h2> Rent an adventure</h2>
    </div>
  </div>
</div>
<div id="search-container">
  <button type="button" class="btn btn-primary"> See boats</button>
</div>
