<div class="banner" >
  <div class="banner-content">
    <div class="message">
      <div class ="ligne">
        <h1> Rent a boat </h1>
      </div>
      <h3> Rent an adventure</h3>
    </div>
    <div class="search-bar">
    <i class="fa fa-search" aria-hidden="true"></i>
    <%= form_tag boats_path,class: "tiping",  method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-search",
        placeholder: "Find a boat, a harbour..."
      %>
    <% end %>
    </div>
  </div>
</div>


