<div class="banner" >
  <div class="banner-content">
    <div class="message">
      <div class ="ligne">
        <h1> Rent a boat </h1>
      </div>
      <h3> Rent an adventure</h3>
    </div>
    <div id="search-container">
      <%= link_to "See Boats", boats_path, class: "btn btn-info" %>
    </div>
  </div>
</div>


