.banner {
    background-image: url(/assets/homepage-boat.jpg);
    height: calc(100vh - 70px);
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    position: relative;
}

h1 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.ligne {
  border-bottom: 3px solid white;
}

.btn-primary {
  border: 2px solid white;
}
